body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-title {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #007bff;
}

#addActivityForm {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
    max-width: 800px;
}

.full-width {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.centered {
    align-items: center;
}

.columns {
    display: flex;
    gap: 20px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}

label {
    font-weight: bold;
}

input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

.duration-inputs {
    display: flex;
    gap: 5px;
    width: 100%;
}

.duration-inputs input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-self: center;
    width: 50%;
}

button:hover {
    background-color: #0056b3;
}

.wide-button {
    width: 50%;
}

.activity-buttons {
    display: flex;
    justify-content: space-between;
}
.activity-btn {
    flex: 1;
    margin: 0 5px;
    padding: 10px;
    background-color: white;
    border: 1px solid #ccc;
    cursor: pointer;
    color: gray; /* Text color when not selected */
}
.activity-btn.selected {
    background-color: blue;
    color: white; /* Text color when selected */
}