/* styles/adminPage.css */

/* Ogólny reset stylów */
body, h1, h2, h3, p, ul, ol, li, button, div, input {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styl dla całego ciała strony */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f5; /* Jasnoszary */
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Top button container */
.top-button-container {
    background-color: #4a4ae0; /* Fioletowy */
    padding: 10px;
    text-align: center;
}

#topButton {
    background-color: #0056b3; /* Niebieski */
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#topButton:hover {
    background-color: #003f80; /* Ciemniejszy niebieski */
}

/* Container stylizujący listę użytkowników */
.container {
    flex-grow: 1;
    padding: 20px;
}

/* Styl dla użytkowników */
.userDiv {
    background-color: #e0e0f8; /* Bardzo jasny fiolet */
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.username {
    font-size: 20px;
    margin-bottom: 10px;
}

.userCheckbox {
    margin-left: 10px;
    cursor: pointer;
}

/* Styl dla aktywności */
.activityDiv {
    margin: 10px 0;
    padding: 10px;
    background-color: #d0d0f0; /* Jasny fiolet */
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.activityCheckbox {
    cursor: pointer;
}

/* Styl dla przycisków w stopce */
footer {
    background-color: #4a4ae0; /* Fioletowy */
    padding: 10px;
    text-align: center;
    margin-top: auto;
}

#logOutBtn {
    background-color: #0056b3; /* Niebieski */
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#logOutBtn:hover {
    background-color: #003f80; /* Ciemniejszy niebieski */
}

/* Styl dla przycisków akcji */
#submitBtn, #submitBtn2 {
    margin: 10px;
    background-color: #4a4ae0; /* Fioletowy */
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#submitBtn:hover, #submitBtn2:hover {
    background-color: #3737a6; /* Ciemniejszy fiolet */
}
