body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center; /* Center text inside the container */
}

h1 {
    margin-bottom: 10px; /* Reduced margin */
    color: #333;
    text-align: center; /* Center the h1 text */
}

input {
    width: 100%;
    padding: 10px;
    margin: 5px 0; /* Reduced margin */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Ensure padding doesn't break layout */
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-align: center; /* Center the button text */
    display: block;
    margin: 10px 0 0 0; /* Reduced margin */
}

button:hover {
    background-color: #0056b3;
}

a {
    position: absolute;
    right: 3%;
    top: 3%;
}